/*
home-price
----------------------------------------- */
@use "../setting/setting" as set;
@use "../function/responsive" as res;
@use "../function/rem";

.p-home__sec-price {
  padding-top: 104px;
  background-color: #efefef;
  &::before {
    top: 16%;
    left: 3%;
    content: 'PRICE';
    @include res.responsive(lg) {
      top: 12%;
      left: 15%;
    }
  }
  .l-section__headingWrap {
    padding-left: 12px;
    @include res.responsive(lg) {
      padding-left: 0;
    }
  }
  .l-section__titleText {
    color: set.$color-accent;
  }
  .l-container {
    padding-right: 10px;
    padding-left: 10px;
    @include res.responsive(lg) {
      padding-left: rem.rem(133);
      margin: 0;
    }
  }
  .l-contents__wrap {
    @include res.responsive(lg) {
      padding-top: rem.rem(50);
      padding-left: rem.rem(100);
    }
  }
}
