/* ベース色
----------------------------------------- */
// $color-main: #ededed;
$color-accent: #009d25;
// $color-sub: #f2f2f2;
$color-text: #222222;
// $color-link: #333;
$color-linkhover: #ffa252;
$color-background: #fff7f7;
